/*-------General------*/
body{
    background-color: $clr-nav_footer;
    @include maingrid;
}
a{
    text-decoration: none;
    color: $clr-whitesmoke;
    
    &:hover {
        color: $clr-ligthgreen;
    }
}