/*-------General------*/
body{
    background-color: $clr-nav_footer;
    @include maingrid;
}

a{
    text-decoration: none;
    color: $clr-whitesmoke;
    
    &:hover {
        color: $clr-ligthgreen;
    }
}

$texto:(
    h1: 2rem,
    h2: 1.5rem,
    h3: 1rem,
    h4: 1rem,
    h5: 0.75rem,
    h6: 0.75rem,
);

@each $h, $tamanio in $texto {
    #{$h}{
        font-size: $tamanio;
    }
    
}

p {
    font-size: 1.3rem;
}

