/*-------Header------*/
.navbar-nav{
    font-weight: bold;
}

@media screen and (min-width: 0px) and (max-width: 400px){
    .contanier-fluid{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .navbar-brand img{
        max-width: 125px
    }
}

@media screen and (min-width: 401px){
    .contanier-fluid{
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content: space-between;
    }
    .navbar-brand img{
        max-width: 250px;
    }
}
