/*-------Main------*/
#main{
    grid-area: main;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: map-get($wallpaper, banner-main);
    @include background_effect;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color:$clr-whitesmoke;

    &__img{
        width: 50vw;
    }
    & img{
        width: 40vw;
        border-radius: 1rem;
    }
    &__text {
        @include flexCenter;
        background-image: map-get($wallpaper, newsletter);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 70% 90%;  
        flex-direction: column;
        flex-wrap: wrap;
        width:50vw;
        height: 100vh;
        text-align: center;
        font-size: 1.5rem;

        & h1{
            color: $clr-ligthgreen;
            font-size: 2rem;
            margin-bottom: 20px;
            margin-top: 20px;
        }

        & h2{
            color:$clr-ligthgreen;
            font-size: 1.5rem;
            width: 55%;
        }

        & label {
            color:$clr-ligthgreen;
            font-size: 1.2rem;
            margin: 2% 0% 2% 0%;
            width: 50%;
        }
        
        & form{
            display: flex;
            flex-direction: column;
            align-items: center;

            & input {
                font-size: 1rem;
                width: 20vw;
                height: auto;
                border-radius: 0.5rem;
                margin: 2% 0%;
                padding: 5px;
        } 
        }
    }
}

#main section {
    background-color: rgba(238,238,238,0.5);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 0px) and (max-width: 768px){
    .banner{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: auto;
        padding: 2% 0%;

        &__img{
            width: 100%;
        }

        & img{
            width: 60vw;
            border-radius: 1rem;
            margin-left: 20%;
        } 
        &__text {
            background-image: none;
            background-color: $clr-newsletter;
            color:$clr-whitesmoke;
            width:60vw;
            height: auto;
            text-align: center;
            font-size: 1.5rem;
            margin: 5% 5%;
            border-radius: 1rem;
    
            & h1{
                font-size: 1.4rem;
                color:$clr-whitesmoke;
                padding: 2% 0%;
            }
    
            & h2{
                font-size: 1.2rem;
                color:$clr-whitesmoke;
                padding: 2% 0%;
                width: 50vw;
            }
    
            & label {
                font-size: 1rem;
                color:$clr-whitesmoke;
                padding: 2% 0%;
                width: 50vw;
            }
            
            & form{
                display: flex;
                flex-direction: column;
                align-items: center;
    
                & input {
                    font-size: 1rem;
                    width: 50vw;
                    height: auto;
                    border-radius: 0.5rem;
                    margin: 2% 0%;
                    padding: 5px;
                }
            }
        }
    } 
}