/*-------Café del Mundo------*/
#world{
    grid-area: main;
    background-image: map-get($wallpaper , mundo);
    @include background_effect;
}

.mundo__article {
    @include flexCenter;
    flex-direction: column;
    background-color: $clr-article;
    border-radius: $borderRadius1;
    margin: 10% 10%;

    & h1{
        @include title;
    }
}

.mapaCafe img{
    max-width: 100%;
    max-height: 100%;
}

.table{
    overflow-x: auto;
    padding: 5%;
    max-width: 1370px;
}

.acordeon {
    margin: 5vh 5vw;
    padding-bottom: 5vh;
}
.accordion-item {
    color: aliceblue;
}
.accordion-item h2{
    color: aquamarine;
}