/*-------Café del Mundo------*/
#world{
    grid-area: main;
    background-image: url("../img/sacos.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.mundo__article {
    background-color: $clr-article;
    border-radius: $borderRadius1;
    margin: 10% 10%;

    & h2{
        @include title;
    }
}

.mapaCafe img{
    max-width: 100%;
    max-height: 100%;
}

.table{
    overflow-x: auto;
    padding: 5%;
}
