/*-------Productos------*/
#productos{
    grid-area: main;
    background-image: url(../img/fondoporductos.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.producto__article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: $clr-article;
    border-radius: $borderRadius1;
    margin: 10% 10%;

    & h2{
        @include title;
        position: relative;
        text-align: center;
        margin: 10px 0px;
        padding: 10px;
    }

    & h3{
        font-size: 1.5rem;
        font-weight: 700;
        position: relative;
        text-align: center;
        margin: 10px 0px;
        padding: 10px;
    }

    & div{
        height: auto;
        margin: 2%;
    }

    & img{
        width: 100%;
        border-radius: 1rem;
        transition: all 2s;

        &:hover{
            transform: scale(1.2, 1.2);
        }
    }
}

.producto__p{
    font-weight: 500;
    font-size: 1.1rem;
    position: relative;
    text-align: justify;
    margin: 2% 5%;
    line-height: 2;
}

.card{
    width: 18rem;
}
.card-text {
    font-size: 0.8rem;
    margin-bottom: 5%;
    text-align: justify;
}

@media screen and (min-width: 430px) and (max-width: 768px){
    .producto{
        padding: 1% 0vw ;
    }
    .producto__article h2{
        font-size: 1.2rem;
    }
    .producto__article h3{
        font-size: 1rem;
    }
}

@media screen and (min-width: 0px) and (max-width: 429px){
    .producto{
        padding: 1% 0vw ;
    }
    .producto__article h2{
        font-size: 1.2rem;
    }
    .producto__article h3{
        font-size: 1rem;
    }
    .card{
        width: 12rem;
        margin: 4px;
    }
    
    .container{
        overflow-x: scroll;
    }
}