/*------------ Variables ------------*/
$clr-dark:#262225; 
$clr-grey: #40393E;
$clr-mustard: #D98B48;
$clr-yellow: #D9AC84;
$clr-orange: #A6450D;
$clr-green: #026773; 
$clr-ligthgreen: #3CA6A6;
$clr-blue:#024959;
$clr-navyblue: #012E40;
$clr-whitesmoke:  #f5f5f5;
$clr-article: rgba(238,238,238,0.75);
$clr-nav_footer:  #212529;

$borderRadius075: 0.75rem;
$borderRadius1: 1rem;
$borderRadius2: 2rem;
